.container-main-home {
    padding: 80px 0px 10px;
}

.container-main-home,
.container-orders,
.app {
    height: 100%;
    width: 100%;
}

.container-status-line {
    height: 100%;
    width: 100%;
    padding: 80px 10px 10px;

    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-orders {
    height: 100%;
    width: 100%;
    padding: 0px 10px;

    display: flex;
    gap: 10px;

    overflow-y: auto;
}

.list-orders::-webkit-scrollbar {
    display: none;
}

.card-order {
    height: 100%;
    width: 100%;
    flex-shrink: 0;

    display: grid;
    grid-template-rows: 80px 1fr auto;

    border: 2px solid var(--color-border);
    border-radius: 5px;

    background: var(--color-white);
}

.card-top {
    padding: 10px;

    display: grid;
    align-items: center;
    gap: 5px;

    border-radius: 3px 3px 0px 0px;
    background: var(--color-main);
}

.order-info,
.order-client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    color: var(--color-white);
}

.order-id {
    font-size: 1.1rem;
}

.order-delivery-mesa,
.order-delivery-domicilio {
    padding: 3px 10px;

    border-radius: 5px;

    font-size: 0.8rem;
    font-weight: bold;

    color: var(--color-black);
}

.order-delivery-mesa {
    background: var(--color-warning);
}

.order-delivery-domicilio {
    background: var(--color-primary-minus);
}

.elapsed {
    font-size: 0.8rem;
}

.data-client-table,
.data-client-person {
    font-size: 0.9rem;
}

.data-client-table {
    color: var(--color-alert);
}

.data-client-person {
    color: var(--color-warning-minus);
}

.card-middle {
    height: 100%;
    width: 100%;
    padding: 10px 5px 5px 10px;

    overflow-x: auto;
}

.modal-items {
    display: grid;
    gap: 5px;
}

/* Chrome, Edge, Safari (basados en WebKit/Blink) */
.modal-items::-webkit-scrollbar {
    margin-left: 5px;
    width: 5px;
}

.modal-items::-webkit-scrollbar-track {
    background: var(--color-border);
    border-radius: 10px;
}

.modal-items::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 10px;
}

.modal-items::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-before);
}

.batch-block {
    margin-right: 7px;

    display: grid;
    gap: 5px;
}

.batch-header {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.8rem;

    border: 2px dotted var(--color-main);
    border-radius: 5px;

    background: var(--color-secondary-before);
    color: var(--color-white);
}

.item-block {
    padding: 10px;

    display: grid;
    gap: 10px;

    border: 1px solid var(--color-border);
    border-left: 4px solid var(--color-alert);
    border-radius: 6px;
}

.subcontainer-item-block {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.item-main {
    font-weight: bold;
}

.qty-item {
    height: 45px;
    width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: bold;

    border-radius: 22.5px;

    background: var(--color-alert);
    color: var(--color-white);
}

.signal-combo,
.signal-crown {
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-main);
}

.signal-combo {
    background: var(--color-warning);
}

.signal-crown {
    background: var(--color-primary-minus);
}

.combo-group-name {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    background: var(--color-barra);
}.item-products-selected {
    font-size: 0.9rem;
}

.item-extras {
    padding: 5px;
    font-size: 0.9rem;
    border: 2px dotted var(--color-main);
    border-radius: 5px;
}

.subcontainer-comments {
    padding: 5px;
    border: 1px solid var(--color-border);
    border-radius: 5px;

    font-size: 0.9rem;

    background: var(--color-card);
}


.card-bottom {
    padding: 5px 10px;
    display: grid;
}

.card-bottom button {
    width: 100%;
    height: 100%;

    background: var(--color-success);
    color: var(--color-white);
}